<div th:fragment="body">
    <p class="paragraph">
        Just about five years ago I embarked on a project which ballooned into a 10-hour experimental animated feature film.
        I'm tenacious, so I still work on it nearly every day.
        Through this process, I've had to learn 3D modelling & texturing, audio engineering, cinematic lighting and framing concepts,
        and, of course, a lot of stuff about shaders.
        Blender has a wonderful system for procedurally modelling objects using an intuitive form of geometry shaders,
        and I've made liberal use of this to make particle simulations, physics simulations, procedural surface noise,
        complex whole-scene animations, and so much more.
        Below are some images of just a few scenes from this behemoth - of which everything, from the models to the textures
        to the animation to the shaders, was made by me :)
    </p>
</div>