<div th:fragment="body">
    <h2>Overview</h2>
    <p class="paragraph">
        I don't just make my own games - I add to those of others as well!
        Of all the custom scripting I've created, my favorite and most ambitious projects have been made for the sandbox that is Minecraft's engine.
    </p>
    <h2>Terminator++</h2>
    <p class="paragraph">
        I spent 3 months working on this one full-time. You know it's serious because I didn't open blender once in that time!
        This is a fork of a <a href="https://github.com/HorseNuggets/TerminatorPlus" target="_blank">pre-existing PaperMC plugin</a> that allows the spawning of AI-controlled
        "bot" players which run towards real players and attack. My goal was to make these AIs act like real people.
        I ended up implementing an extremely complex behavioral system, where bots dynamically chose to explore, sneak around, hunt animals or players,
        and strategically retreat based on their environment and their randomized personality attributes.
        They can also chose between dozens of different attack styles: from melee weapons to ranged to fire-based to literally snowballs.
        I even made a custom chat system with a combinatoric millions of possible messages they can say depending on the context of their environment!
        This was made for a friend's YouTube series that hasn't come out yet, so I unfortunately can't release the source code just yet. Below are a few screenshots.
    </p>
    <h2>The Game Inside a Game</h2>
    <p class="paragraph">
        This was made for a collaborative mapping project between friends.
        It's a top-down, block-pushing, enemy-avoiding, fully-fledged puzzle-action game within Minecraft itself.
        It's hard to overstate how difficult it is to code inside Minecraft's very limited Datapack system,
        where iteration is barely implemented and parameters all but don't exist - but I was able to get it working
        through clever use of globals & macros.
        It's hard to show how large Minecraft Datapacks are, but let's just say the source code (which is entirely plain text files) is 83KB.
        That's a lot for the official Minecraft scripting engine.
        <a href="https://ctmrepository.com/index.php?action=viewMap&id=930" target="_blank">Here's a link to the map download</a>,
        if that's your style.
    </p>
    <h2>Miscellaneous Work</h2>
    <p class="paragraph">
        There's not enough room in the world to list every Minecraft mod, plugin, and datapack I've made.
        One of them spawns TNT every time an entity dies, one of them makes the whole world slippery,
        one of them randomly rotates your character, one of them spawns a billion slimes everywhere.
        I take every potential feature as its own problem to solve, and there's no problem too big or too small.
    </p>
</div>