<div th:fragment="body">
    <p class="paragraph">
        There's some more interesting stuff in this one.
        By that I mean a list of random nonsense.
    </p>
    <ul>
        <li>I think I will just</li>
        <li>start counting?</li>
        <li>I got nothing else...</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>10</li>
        <li>WAIT NO</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
    </ul>
    <p class="paragraph">Wow!</p>
</div>