<div th:fragment="body">
    <p class="paragraph">There's EVEN more interesting stuff in this one. How about some images?</p>
    <p class="img-holder"><img src="../../../../static/images/testing/bike.jpg" th:src="@{static/images/testing/bike.jpg}"></img></p>
    <p class="img-holder"><img src="../../../../static/images/testing/adventure_clown.jpg" th:src="@{static/images/testing/adventure_clown.jpg}"></img></p>
    <p class="img-holder"><img src="../../../../static/images/testing/thumbs_up.jpg" th:src="@{static/images/testing/thumbs_up.jpg}"></img></p>
    <p class="paragraph">Wow!</p>
</div>